<form action="/result">
  <div class="form-group">
    <input id="anagrammable" name="anagrammable" class="form-control" type="text">
  </div>
  <div class="form-group">
    <input id="anagrammable" name="anagrammable" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-block">CHANGE YOSELF</button>
</form>
