<form action="/result">
  <div class="form-group">
    <input id="anagrammable" name="anagrammable" class="form-control" type="text">
  </div>
  <div class="form-group">
    <input id="anagrammable2" name="anagrammable2" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-block">Check It!</button>
</form>
